@use '../../../style/variables.scss' as GlobalVars;

.connect-status {
  // background-color: darken($ta-dark, 5%) !important;
  font-family: GlobalVars.$font-medium;
  // height: calc($navbar-height - 2px) !important;
}

.freq-status {
  font-family: GlobalVars.$font-medium;
  padding: 1px 2px;
  margin: 2px 0px;
  font-size: 7px;
  color: GlobalVars.$ta-body-color;
  background-color: GlobalVars.$ta-secondary;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.freq-status:last-child {
  margin-top: auto;
}

.freq-status.active {
  color: GlobalVars.$ta-body-color;
  background-color: GlobalVars.$ta-warning;
}

.connected {
  background-color: GlobalVars.alpha(GlobalVars.$ta-success, 0.6) !important;
  color: white !important;
  border-color: GlobalVars.$ta-success !important;
  cursor: pointer;
}

.rxOnly {
  background-color: GlobalVars.alpha(GlobalVars.$ta-info, 0.6) !important;
  color: white !important;
  border-color: GlobalVars.$ta-info !important;
  cursor: pointer;
}

.txOnly {
  background-color: GlobalVars.alpha(GlobalVars.$ta-warning, 0.6) !important;
  color: white !important;
  border-color: GlobalVars.$ta-warning !important;
  cursor: pointer;
}

.disconnected {
  background-color: GlobalVars.alpha(GlobalVars.$ta-success, 0.6) !important;
  color: white !important;
  border-color: GlobalVars.$ta-success !important;
  cursor: pointer;
}

.vatsim-logo {
  // padding: 2px;
  height: 100%;
  opacity: 0.9;
}
